{# templates/main/contact.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container mt-5 page-container">
    <h1>Contactez-nous</h1>
    <p class="lead">Nous sommes toujours ravis de recevoir vos commentaires, suggestions et questions...</p>
    
    <h2>Adresse e-mail</h2>
    <p>Pour toute correspondance par e-mail, veuillez nous écrire à :</p>
    <p><a href="mailto:contact@raphaelsnewstrue.com">contact@raphaelsnewstrue.com</a></p>
    
    <h2>Réseaux sociaux</h2>
    <p>Suivez-nous sur les réseaux sociaux pour rester informé des dernières nouvelles et mises à jour :</p>
    <ul>
        <li><a href="https://www.facebook.com/raphaelsnewstrue" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com/raphaelsnewstrue" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/raphaelsnewstrue" target="_blank">Instagram</a></li>
    </ul>
    
    <h2>Adresse postale</h2>
    <p>Si vous préférez nous écrire par courrier, vous pouvez nous envoyer vos lettres à l'adresse suivante :</p>
    <p>Raphael’s True News<br>
    123 Rue de l'Information<br>
    75001 Paris<br>
    France</p>
    
    <h2>Heures d'ouverture</h2>
    <p>Notre équipe est disponible pour répondre à vos questions du lundi au vendredi, de 9h à 18h.</p>
    
    <p>Merci de votre intérêt pour Raphael’s True News. Nous avons hâte de vous lire et de vous répondre dans les plus brefs délais.</p>
</div>
{% endblock %}